<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
</head>
<body>
   <form action="/add-book" method="POST">
       
        <label>Title:</label>
        <input type="text" name="title" placeholder="Input title" required/>

        <label>Author:</label>
        <input type="text" name="author" placeholder="Input author" required/>
  
        <button type="submit">Add Book</button>
   </form>


   <h2>Books:</h2>
        <% if (books.length > 0 ) { %> 
   <ul class="book-list">
            <% books.forEach(book => { %>
                <li data-id="<%= book.id %>">

                <div class ="book-details">
                    <span class="display-title"><%= book.title %></span>
                    <span class="display-author"><%= book.author %></span>   
                </div>


                <div class="edit-form" style="display:none">
                <input type="text" class="edit-title" value="<%= book.title %>">
                <input type="text" class="edit-author" value="<%= book.author %>">
                <button type="button" class="save-btn">Save</button>
                <button type="button" class="cancel-btn">Cancel</button>
                </div>

               <button class="edit-btn">Edit</button>
               <button class="delete-btn">Delete</button>
                </li>
            <% }) %>
   </ul>
   <% } else { %>
    <p>No Books found.</p>
   <% } %>

   <script src="/script.js"></script>
</body>
</html>